<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="少女前线后勤提醒.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <少女前线后勤提醒.My.MySettings>
            <setting name="BeforeMinute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExitSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeforeSecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DontAskAgain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Image" serializeAs="String">
                <value />
            </setting>
            <setting name="OtherTimerHour" serializeAs="String">
                <value />
            </setting>
            <setting name="OtherTimerTime" serializeAs="String">
                <value />
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>8</value>
            </setting>
        </少女前线后勤提醒.My.MySettings>
    </userSettings>
</configuration>